* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: montserrat;
}

body {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
}

#homeContainer {
  width: 100vw;
}

#NavigationContainer {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#menuIconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 2.5rem;
  height: 1.5rem;
  padding-right: 0.5rem;
  justify-content: space-around;
  z-index: 5;
  position: relative;
}
#menuIconContainer #one, #menuIconContainer #two, #menuIconContainer #three {
  background-color: rgb(31, 31, 190);
  border-radius: 0.1rem;
  height: 15%;
}
#menuIconContainer #one {
  width: 100%;
}
#menuIconContainer #two {
  width: 75%;
}
#menuIconContainer #three {
  width: 90%;
}

#menuBodyContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 31, 190, 0.4);
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#menuBodyContainer button {
  width: 45%;
}

#introContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#textContainer #header {
  font-family: bebas;
  font-size: 1.8rem;
  text-align: justify;
  padding-bottom: 1.5rem;
}
#textContainer #bodyText {
  text-align: justify;
  font-weight: 500;
  font-size: 0.7rem;
}
#textContainer button {
  margin-top: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

#heroContainer {
  width: 100%;
  padding: 1rem;
}
#heroContainer img {
  width: 100%;
  height: auto;
}

#successContainer {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
#successContainer #heading {
  font-family: bebas;
  font-size: 2rem;
}

#metricContainer {
  display: flex;
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
#metricContainer .aMetric {
  width: 32vw;
}

#benefitContainer {
  width: 100%;
  padding: 2rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#benefitContainer #imageContainer {
  width: 90%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  border: 0.2rem dashed brown;
}
#benefitContainer #imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#benefitContainer #listOBenefitContainer {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#benefitContainer #listOBenefitContainer #headingP {
  font-family: bebas;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  align-self: center;
}
#benefitContainer #listOBenefitContainer #aBenefit {
  padding-bottom: 1rem;
}
#benefitContainer #listOBenefitContainer #aBenefit #heading {
  font-family: bebas;
}

#Testimonial {
  padding: 0.5rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Testimonial #GeneralTextContainer {
  padding-bottom: 2rem;
}
#Testimonial #GeneralTextContainer #testimonialHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#Testimonial #GeneralTextContainer #testimonialHeader span {
  display: block;
  border-top: 0.2rem rgb(0, 0, 81) solid;
  width: 6rem;
}
#Testimonial #GeneralTextContainer #testimonialHeader p {
  font-family: bebas;
  font-size: 1.5rem;
}
#Testimonial #GeneralTextContainer #generalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Testimonial #GeneralTextContainer #generalBody #theySay {
  padding: 1rem 0;
  font-weight: 700;
  font-family: 1.2rem;
}
#Testimonial #GeneralTextContainer #generalBody #body {
  font-weight: 400;
  padding-bottom: 1.5rem;
  text-align: justify;
}
#Testimonial #listOTestimonials {
  overflow-x: scroll;
}
#Testimonial #listOTestimonials #aTestimonialContainer {
  height: 45vh;
  width: 90vw;
  padding-top: 1rem;
}
#Testimonial #listOTestimonials #aTestimonialContainer #imageDiv {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#Testimonial #listOTestimonials #aTestimonialContainer #imageDiv img {
  height: 100%;
  width: auto;
}
#Testimonial #listOTestimonials #aTestimonialContainer #textsDiv {
  border-left: navy solid 0.8rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-left: 0.5rem;
}
#Testimonial #listOTestimonials #aTestimonialContainer #textsDiv #opinion {
  padding: 1rem 0rem;
}
#Testimonial #listOTestimonials #aTestimonialContainer #textsDiv #biodataContainer #nameP {
  font-family: bebas;
}
#Testimonial #listOTestimonials #aTestimonialContainer #textsDiv #biodataContainer #roleP {
  font-size: 0.8rem;
}

@media (orientation: landscape) {
  #NavigationContainer {
    padding: 2rem 5rem;
  }
  #navList {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }
  #introContainer {
    flex-direction: row;
    padding: 5rem;
    height: 80vh;
  }
  #textContainer {
    width: 50%;
  }
  #textContainer #header {
    font-size: 2.5rem;
  }
  #textContainer #bodyText {
    font-size: 0.9rem;
  }
  #textContainer button {
    margin-top: 1rem;
    align-self: flex-start;
  }
  #heroContainer {
    padding: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  #heroContainer img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #successContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #successContainer #bodyText {
    display: block;
    width: 75%;
  }
  #Testimonial {
    flex-direction: row;
    gap: 2rem;
  }
  #Testimonial #GeneralTextContainer {
    width: calc(50% - 1rem);
  }
  #Testimonial #listOTestimonials {
    width: calc(50% - 1rem);
    overflow-x: hidden;
  }
  #Testimonial #listOTestimonials #aTestimonialContainer {
    width: 100%;
    height: 55vh;
  }
  
  #benefitContainer {
    flex-direction: row-reverse;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: stretch;
  }
  #benefitContainer #imageContainer {
    height: 70%;
    width: 35%;
  }
  #benefitContainer #listOBenefitContainer {
    width: 70%;
  }
}/*# sourceMappingURL=index.css.map */