#pageContainer {
  width: 100vw;
  min-height: 100vh;
  gap: 2rem;
  padding: 0rem 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pageContainer #progressContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 1.8rem;
  align-items: center;
}
#pageContainer #progressContainer .css-eglki6-MuiLinearProgress-root {
  width: 100%;
  background-color: rgba(41, 49, 126, 0.641);
  border-radius: 1rem;
  height: 100%;
}
#pageContainer #progressContainer .css-eglki6-MuiLinearProgress-root .css-5xe99f-MuiLinearProgress-bar1 {
  background-color: rgb(41, 49, 126);
}
#pageContainer #progressContainer #vsCountContainer {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#pageContainer #progressContainer #vsCountContainer p {
  color: white;
}
#pageContainer #progressContainer #vsCountContainer #currentNumber {
  font-size: 1.2rem;
  font-weight: 500;
}
#pageContainer #progressContainer #vsCountContainer #totalNumber {
  font-size: 1.2rem;
  font-weight: 700;
}
#pageContainer #titleNPrevContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}
#pageContainer #titleNPrevContainer #leaveButtonContainer button {
  font-family: montserrat;
  font-weight: 600;
  color: rgb(41, 49, 126);
}
#pageContainer #timeTracker {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#pageContainer #timeTracker #clockIcon {
  color: rgb(41, 49, 126);
}
#pageContainer #timeTracker #timez {
  font-weight: 600;
  display: block;
  text-align: center;
}
#pageContainer #QandAContainer {
  width: 100%;
  padding: 0rem 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pageContainer #QandAContainer #QuestionContainer {
  width: 60%;
  min-height: 20vh;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#pageContainer #QandAContainer #QuestionContainer #question {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
#pageContainer #QandAContainer #QuestionContainer #number {
  color: rgb(41, 49, 126);
  font-weight: 400;
  font-family: bebas;
}
#pageContainer #optionsContainer {
  width: 60%;
  padding: 2rem 4rem;
  border-radius: 1rem;
}
#pageContainer #optionsContainer .ASingleOPtion {
  display: flex;
  align-items: center;
  border: rgb(41, 49, 126) 0.1rem solid;
  border-radius: 0.5rem;
  padding: 1rem 0.4rem;
  margin-bottom: 1rem;
  background-color: aliceblue;
}
#pageContainer #optionsContainer .ASingleOPtion .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: rgb(41, 49, 126);
}
#pageContainer #optionsContainer .ASingleOPtion .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1hbvpl3-MuiSvgIcon-root, #pageContainer #optionsContainer .ASingleOPtion .css-11zohuh-MuiSvgIcon-root {
  color: rgb(41, 49, 126);
}
#pageContainer #optionsContainer .ASingleOPtion .text {
  display: block;
  width: 85%;
}
#pageContainer #actionButtonsContainer {
  display: flex;
  width: 60%;
  justify-content: center;
  padding: 0 4rem;
}
#pageContainer #actionButtonsContainer button {
  background-color: rgb(41, 49, 126);
  color: white;
  font-family: montserrat;
  font-weight: 500;
  border-radius: 2rem;
  padding: 1rem 3rem;
}
#pageContainer *::-webkit-scrollbar {
  width: 1rem;
  height: 0;
}
#pageContainer #progressContainer2 {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}
#pageContainer #progressContainer2 #singleRep {
  height: 0.3rem;
  background-color: rgba(41, 49, 126, 0.641);
  flex-grow: 1;
  border-radius: 0.5rem;
}
#pageContainer #progressContainer2 #singleRep.attempted {
  background-color: rgb(41, 49, 126);
}/*# sourceMappingURL=index.css.map */